<h1>Application</h1>


<nav>
    <ul>
        <li><a [routerLink]="['/students']">Liste des étudiants</a></li>
        <li><a [routerLink]="['/student/add']">Formulaire</a></li>
        <li></li>
        <li></li>
    </ul>
    
</nav>

@if (false) {
  <button (click)="isGood = !isGood">Toggle</button>
  @if (isGood) {
    <p>{{ 2 + 2 }}</p>
  }

  @for (fruit of fruits; track fruit) {
    <p>{{ $index }} : {{ fruit }}</p>
  }

<counter />



<exo-toggle-btn />
<app-students />

<exo-quote />
<exo-city />
<app-pass-gen />
<student-student-list />
}



<router-outlet />